body{background-color: black;}

h1{
   color: crimson; text-align: center;
}


.nav a{
    float:right; 
    color: white;
    text-align: center;
    text-decoration:none; 
    font-size:17px;
    padding:14px 16px; 

}

.nav a:hover{
    color:green;
}
