body{background-color: rgb(61, 71, 50);}

.introduction{
    text-align:center;
    position:relative;
    color:white; 
}
.welcome-text{
    font-size:3rem;
    opacity:0;
    animation:slideIn 5s ease-out forwards; 
   
}
@keyframes slideIn{
    0%{
        transform: translateY(-20px);
        opacity:0;

    }
    100%{
        transform:translateY(0);
        opacity:1;

    }
}
h1{
   color: rgb(239, 244, 239);
}

h2{
    color: rgb(128, 243, 93);
    text-align: center; 
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.nav{
    background-color: rgb(253, 236, 213);
    overflow:hidden; 
}
.nav a{
    float:right; 
    color: rgb(30, 33, 29);
    text-align: center;
    text-decoration:none; 
    font-size:17px;
    padding:14px 16px; 

}

.nav a:hover{
    color:rgb(81, 112, 249);
}



.center{
    display:block;
    margin-left:auto;
    margin-right:auto; 
    width:70%;
}

p1{
    padding: 50px; 
    text-align: center;
    font-size: medium;
    color: white; 

}
