body {
    background-color: rgb(221, 255, 225);
    width: 1400px;
    margin: 0 auto;
    overflow-x: auto;
}

#introduction {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:  #2e5d1f;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

}


#welcome-text{
    font-size: 55px;
    text-align: right;
    padding: 25px;
    opacity: 0;
    animation: slideIn 3s ease-out forwards; 
    color:rgb(255, 255, 226);
    margin-left: 0px;
    font-family: fantasy;

}

#introduction .loader {
    position: relative;
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;

}

.puzzle {
    width: 100%;
    height: 100%;
    background-image: url('IMG_2865.JPG');
    background-size: 200% 200%;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

#puzzle1 {
    background-position: 0 0;

}

#puzzle2 {
    background-position: 100% 0;
}

#puzzle3 {
    background-position: 0 100%;
}

#puzzle4 {
    background-position: 100% 100%;
}

#homepage {
    text-align: center;
    padding: 20px;
}


@keyframes slideIn {
    0% {
        transform: translateY(-20px);
        opacity: 0;

    }

    100% {
        transform: translateY(0);
        opacity: 1;

    }
}

h1 {
    color: rgb(202, 255, 176);
    text-align: left;
    font-size: 22px;
    padding-left: 1%;
    font-family: monospace;
}

h2 {
    color: #006f62;
    text-align: left;
    padding-left: 1%;
    margin-bottom: 10px;
    font-size: 20px;
    margin-top: 36px;
    font-family: sans-serif;
    font-weight: bold;
}

h3 {
    text-align: left;
    padding-bottom: 20px;
    color: rgb(118, 175, 118) ;
    font-family: sans-serif;
    font-size: 17px;
}

h4 {
    text-align: left;
    color: rgb(77, 121, 94);
    font-weight: bold;
}

h5 {
    text-align: center;
     color: rgb(185, 255, 202);
    font-weight: bold;
    font-size: x-large;
}

.nav {
    background-color: #2e5d1f;
    overflow: hidden;
    block-size: 50px;
    width:100%;
}

.nav a {
    float: right;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    padding: 14px 16px;
    width:auto; 
    font-family: sans-serif;

}

.nav a:hover {
    color: rgb(202, 255, 176);
}



.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


#about {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
    gap: 40px;
    margin-bottom: 10px;
}




.about_content {

    width: 50%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    color:black;
    text-align: left;
    font-family: sans-serif;


}

.about_image {
    width: 45%;

}

.about_image img {
    margin-top: 25px;
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.skills_list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-indent: 0px;
    margin-bottom: 10px;
    margin-top: 20px;
    font-family: sans-serif;
}

.skills-list li {
    align-items: center;
    margin-bottom: 10px;
}

.skills-list h4 {
    margin-right: 20px;
    margin: 0;
    margin-bottom: 10px;
    color:rgb(77, 121, 94);
    
}

.slideshow {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.my_slides {
    display: none;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color:#006f62;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-bottom: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0px;
    border-radius: 3px 0 0 3px;

}

.prev {
    left: 0px;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.text {
    color: rgb(0, 42, 20);
    font-size: 15px;
    padding: 10px;
    position: relative;
    bottom: 8px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    font-family: sans-serif;
}

.numbertext {
    color: white;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;


}

.slide-image {
    width: 100%;
    height: auto;
    max-width: 800px;
    margin: 0 auto;
}


.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    background-color:black;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color:  rgb(165, 243, 127);
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.project_container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 40px;
    flex-wrap: flex;
}

.project_description {
    flex: 1;
    max-width: 60%;
    text-align: left;
    margin-right: 60px;
    color: rgb(0, 0, 0);
    font-family: sans-serif;

}

.project {
    margin-bottom: 20px;
    padding: 20px;
    border: 2px solid #006f62;
    border-radius: 10px;
    box-shadow: 0 4px 6px #006f62;


}
.project_link {
    color:rgb(125, 148, 91);

}

.project_link:hover {
    color:  rgb(170, 249, 131);
}


.other_projects_container {
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}


.other_projects {

    background-color: rgb(112, 160, 131);
    border-radius: 10px;
    color: rgb(0, 0, 0);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    max-width: 50%;
    width: 100%;
    box-sizing: border-box;
    margin: auto;
    padding: 20px;
    font-family: sans-serif;
    text-decoration: none;
    

}


.other_projects:hover {
    transform: scale(1.05);
    background-color: rgb(170, 220, 191);
    color: grey;
    text-decoration: none;
    
   
}

.other_projects h4 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: none;

}

.other_project_link {
   text-decoration: none;

}

.other_project_link:hover {
    color: rgb(0, 45, 43);
    text-decoration: none;

}

.video_section {
    margin-top: 20px;
    overflow: hidden;
}

.video_caption {

    text-align: center;
    color: rgb(77, 121, 94);
    font-weight: bold;
    font-family: sans-serif;

}

.project-overview {

    text-align: left;
    color: rgb(9, 47, 16);
    font-weight: bold;
}


.list {
    color: rgb(0, 0, 0);
    text-align: left;
    font-family: sans-serif;

}


.project2-image {

    margin-left: 20px;
    margin-right: 50px;
    overflow: hidden;
}

.project2-image img {
    margin-top: 25px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project3-image {

    margin-left: 20px;
    margin-right: 50px;
    overflow: hidden;
}

.project3-image img {
    margin-top: 70px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px; 
}

.list2 {
    /* list-style-type: none; */
    padding-left: 0;
    color: rgb(112, 123, 123);
    word-spacing: normal;
}


#contact {
    background-color: #2e5d1f;
    border-radius: 10px;
    padding-bottom: 20px;
    margin: auto;
    justify-content: center;
}

.contact_info {
    color: rgb(185, 255, 202);
    display: flex;
    justify-content: center;
    gap: 100px;
    font-size: x-large;
    
}

.contact_link{
  color: white;  
}

.contact_link:hover{
 color:rgb(165, 243, 127);
}



